{% load static %}

<!DOCTYPE html>

<head>
	<title> {{title}} </title>
	<meta name="description" content="This is a description">
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
	<meta name="theme-color" content="#5eb9d7">
	<meta charset="utf-8" />

	<link rel="apple-touch-icon" href="icon.png">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


</head>

<body class="{{template}}">

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="{% url 'home' %}">Home </a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{% url 'project_index' %}"> Projects </a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'blog_index' %}"> Blog </a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{% url 'form' %}"> Form </a>
			</li>

		</ul>
	</div>
	</div>
	
</nav>

<div class="container">
	{% block content %}{%  endblock %}
</div>
</body>

</html>